body,html{
    height: 100%;
    width: 100%;
    margin:0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

}
#navbar{
    background-color: rgba(28, 195, 181, 0.4);
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 5%;

    
    
}
#anordnung_eintraege{
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 2%;
    margin-top: 16vh;
    
    
}
.entries{
    height: 10vh;
    width: 100%;
    font-size:xx-large;
    border-radius: 8px;
    border: 3px solid lightgrey;
    display: flex;
    

}
.entries:hover{
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   cursor:pointer;
}

.name_todo{
display: flex;
align-items: center;
justify-content: center;
width: 50%;
border-right: 1px solid black;
}

.prio_todo{
display: flex;
align-items: center;
justify-content: center;
width: 50%;

}

.name_kategorie{
display: flex;
align-items: center;
justify-content: center;
width: 50%;
border-right: 1px solid black;
font-weight: bold;
text-decoration: underline;
}

.prio_kategorie{
display: flex;
align-items: center;
justify-content: center;
width: 50%;
font-weight: bold;
text-decoration: underline;

}

#back{
    justify-content: center;
    align-items: center;
    font-size: 400%;
    height: 7vh;
    width: 7vh;
    border-radius: 999px;
    
    display: flex;
   
}

#back:hover{

cursor: pointer;
box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}
